<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex text-center fill-height">
      <div class="text-body-2 font-weight-light mb-n1">Welcome to</div>
      <h1 class="text-h3 font-weight-bold">Sistema de Pessoas</h1>
      <div class="text-body-2 font-weight-light mb-n1">Made with Vue3</div>
      <v-img
        contain
        height="50"
        src="@/assets/logo.svg"
      />

      <div style="margin-top:2em">
        <h2>Recursos Disponíveis:</h2>
      </div>

      <div>
        <router-link
          to="/pessoas"
          custom
          v-slot="{ navigate }"
        >
          <v-btn
            id="btn-person"
            color="primary"
            @click="navigate"
          >
            <v-icon
              icon="mdi-account"
              size="50px"
            >
            </v-icon>
            Pessoa
          </v-btn>
        </router-link>
      </div>

    </v-responsive>
</v-container>
</template>

<script>
  import ShowPerson from '@/components/ShowPerson.vue';
  import ButtonAddPerson from '@/components/ButtonAddPerson.vue'

  export default {
    data(){
      return {
        persons : [],
        count : 0,
      }
    },
    methods: {
      getPerson() {
        fetch("http://localhost:8080/people", {
            method: "GET",
            mode: "cors"
        })
        .then((response) => response.json())
        .then(data => {
            this.persons = data._embedded.people
            this.count += 1
        })
      }
    },
    components: { ShowPerson, ButtonAddPerson }
  }
</script>

<style>
  #btn-person{
    width: 200px;
    height: 100px;
  }
</style>