<template>
    <v-container class="fill-height">
      <v-responsive class="d-flex text-center fill-height">  

        <ButtonAddPerson
          id="btn-add-person"
          @event-create="getPerson"
        />  

        <ShowPerson
          id="show-person"
          :persons="this.persons"
          :key="count"
        />

      </v-responsive>
  </v-container>
</template>
  
<script>
  import ShowPerson from '@/components/ShowPerson.vue';
  import ButtonAddPerson from '@/components/ButtonAddPerson.vue'

  export default {
    name: "Pessoas",
    data(){
      return {
        persons : [],
        count : 0,
      }
    },
    methods: {
      getPerson() {
        fetch("http://localhost:8080/people", {
            method: "GET",
            mode: "cors"
        })
        .then((response) => response.json())
        .then(data => {
            this.persons = data._embedded.people
            this.count += 1
        })
      }
    },
    components: { ShowPerson, ButtonAddPerson }
  }
</script>

<style>
  #btn-add-person {
    position: relative;
    z-index: 2;
    margin-top: 2em;
    margin-left: 24em
  }
  #show-person {
    position: relative;
    z-index: 1;
    margin-top: -1em;
  }
</style>