<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      width="1024"
    >
      <template v-slot:activator="{ props }">
        <v-btn
          color="success"
          v-bind="props"
					icon="mdi-plus"
					size="small"
        >
        </v-btn>
      </template>
      <v-form fast-fail @submit.prevent="createPerson">
				<v-card>
					<v-card-title>
						<span class="text-h5">Cadastrar Pessoa</span>
					</v-card-title>
					<v-card-text>
						<v-container>
							<v-row>
								<v-col
									cols="12"
									sm="6"
									md="4"
								>
									<v-text-field
										v-model="firstName"
										label="Primeiro Nome*"
										:rules="firstNameRules"
										required
									></v-text-field>
								</v-col>
								<v-col
									cols="12"
									sm="6"
									md="4"
								>
									<v-text-field
										v-model="lastName"
										label="Sobrenome*"
										hint="example of persistent helper text"
										persistent-hint
										:rules="lastNameRules"
										required
									></v-text-field>
								</v-col>
							</v-row>
						</v-container>
						<small>*indicates required field</small>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn
							color="blue-darken-1"
							variant="text"
							@click="dialog = false"
						>
							Close
						</v-btn>
						<v-btn
							color="blue-darken-1"
							variant="text"
							type="submit"
							@click="dialog = false"
						>
							Save
						</v-btn>
					</v-card-actions>
				</v-card>
      </v-form>
    </v-dialog>
  </v-row>
</template>

<script>
  export default {
    name: 'ButtonAddPerson',
    data: () => ({
			dialog: false,
      firstName: '',
      firstNameRules: [
        value => {
          if (value?.length > 3) return true
          return 'First name must be at least 3 characters.'
        },
      ],
      lastName: '123',
      lastNameRules: [
        value => {
          if (/[^0-9]/.test(value)) return true
          return 'Last name can not contain digits.'
        },
      ],
    }),
    methods: {
      createPerson(){
        const requestOptions = {
          method: "POST",
          mode: "cors",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            firstName: this.firstName,
            lastName: this.lastName,
          })
        };
        fetch("http://localhost:8080/people", requestOptions)
        .then(response => response.json())
        .then(() => {
		  this.$emit('eventCreate')
		})
      }
    },
		emits: ['eventCreate']
	}
</script>