<template>
	<v-btn
		size="x-small"
		class="mx-2"
		color="error"
		v-on:click="deletePerson(linkSelfPerson)"
	>
		<v-icon
			color="white"
			icon="mdi-delete-outline"
			size="x-large"
		>
		</v-icon>
	</v-btn>
</template>

<script>
	import { ref } from 'vue';

	export default {
		props:{
			linkSelfPerson : "link nulo",
			indexOfPersonOnArray: "",
		},
		methods: {
			getIdPerson(linkSelfPerson){
				return linkSelfPerson.split('/')[4]
			},
			deletePerson(linkSelfPerson) {
				const data = ref(null);
				// Simple DELETE request with fetch
				//todo
				fetch(linkSelfPerson, {
					method: 'DELETE',
					mode: "cors"
				})
				.then(response => response.json())
				.then(x => data.value = x);
				this.$emit('eventDelete', this.indexOfPersonOnArray)
			}
		},
		emits: ['eventDelete']
	}
</script>
