<template>
	<div>
		<v-card
			class="mx-auto"
			max-width="500"
		>
			<v-list lines="one">
				<h3>LISTA DE PESSOAS</h3>
				<v-list-item
					v-for="person in this.persons"
						:title="titleIdPerson(person)"
						:key="titleIdPerson(person)"
						:value="titleIdPerson(person)"
						active-color="primary"
				>
					{{ person.firstName }} {{ person.lastName }}

					<template v-slot:append>
						<ButtonDeletePerson
							:linkSelfPerson="person._links.self.href"
							:indexOfPersonOnArray="this.persons.indexOf(person)"
							@event-delete="(id) => catchEventDelete(id)"
						/>
						<ButtonUpdatePerson
							:linkSelfPerson="person._links.self.href"
							:indexOfPersonOnArray="this.persons.indexOf(person)"
							@event-update="getPerson"
						/>
					</template>
				</v-list-item>
			</v-list>
		</v-card>
	</div>
</template>

<script>
	import ButtonDeletePerson from './ButtonDeletePerson.vue';
	import ButtonUpdatePerson from './ButtonUpdatePerson.vue';

	export default{
		data(){
			return {
				persons: [],
			}
		},
		methods: {
			titleIdPerson(person){
				return "id: " + person._links.self.href.split('/')[4];
			},
			getPerson() {
				fetch("http://localhost:8080/people", {
					method: "GET",
					mode: "cors"
				})
				.then((response) => response.json())
				.then(data => {
					this.persons = data._embedded.people
				})
			},
			catchEventDelete(id){
				this.persons.splice(id, 1);
			}
		},
		components: { ButtonDeletePerson, ButtonUpdatePerson },
		created(){
			this.getPerson()
		},
	}
</script>

<style>
	.v-list-item {
		text-align: left;
	}
</style>