<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer">
      <v-card
        class="mx-auto"
        max-width="300"
      >
        <v-list>
          <v-list-item
            v-for="item in items"
            :to="item.route"
          >
            <template v-slot:prepend>
              <v-icon :icon="item.props.prependIcon"></v-icon>
            </template>

          <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>     
    </v-navigation-drawer>

    <v-app-bar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Application</v-toolbar-title>
    </v-app-bar>
    
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import { RouterLink } from 'vue-router';
import ListPerson from './views/Pessoas.vue';

  export default {
    data: () => ({
      drawer: null,
      items: [
        {
          title: 'Home',
          id: 1,
          props: {
            prependIcon: 'mdi-home',  
          },
          route: '/',
        },
        {
          title: 'Pessoas',
          id: 2,
          props: {
            prependIcon: 'mdi-account',  
          },
          route: '/pessoas',
        },
      ],    
    }),
  }
</script>